<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	
  <body background="https://wallpaperscraft.com/image/wooden_background_light_texture_50369_3036x2000.jpg">
  <%= link_to "Home", root_path %>
  <%= link_to "New Post", new_post_path %>
    <%= yield %>
  </body>
</html>
